/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v15/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkCEv58a-xw.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Josefin Sans Thin'), local('JosefinSans-Thin'), url(https://fonts.gstatic.com/s/josefinsans/v14/Qw3EZQNVED7rKGKxtqIqX5Ecbkx6XH0.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Josefin Sans Light'), local('JosefinSans-Light'), url(https://fonts.gstatic.com/s/josefinsans/v14/Qw3FZQNVED7rKGKxtqIqX5Ecpl5te10k.ttf) format('truetype');
}
/*
FONTS-----
CURRENTLY NOT IN USE:
-Raleway:300
*/
@keyframes scrollAnim {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #111111;
  font-family: "Montserrat", sans-serif;
}
.max-width {
  margin: 0px 80px;
}
@media (max-width: 850px) {
  .max-width {
    margin: 0px 35px;
  }
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger .bar1,
.hamburger .bar2,
.hamburger .bar3 {
  width: 26px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
@media (max-width: 630px) {
  .hamburger {
    display: inline-block;
  }
}
.change .bar1 {
  transform: rotate(-45deg) translate(0px, 11px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(0px, -11px);
}
.seperator {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 630px) {
  .seperator {
    margin-top: 35px;
  }
}
.nav-box {
  color: white;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-box .title {
  font-family: "Quicksand", sans-serif;
  font-size: 23px;
  font-weight: 600;
}
@media (max-width: 630px) {
  .nav-box {
    flex-direction: column;
    width: 100%;
  }
}
.cont {
  background-color: #080808da;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 630px) {
  .cont {
    flex-direction: column;
  }
}
.top-container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 630px) {
  .top-container {
    flex-direction: column;
  }
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
  overflow: hidden;
}
@media (max-width: 850px) {
  nav {
    margin-right: 35px;
  }
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-right: 20px;
}
nav a:hover {
  color: rgba(199, 199, 199, 0.877);
}
@media (max-width: 630px) {
  nav a {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f4f4ea;
    margin: 0px 0px;
  }
}
@media (max-width: 630px) {
  nav {
    display: block;
    flex-direction: column;
    background-color: #353232;
    height: 0px;
    margin-right: 0px;
  }
}
.nav-open {
  height: 100%;
}
header {
  color: white;
  font-size: 25px;
  height: 81vh;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .shadow-box {
  width: 100%;
  height: 100%;
  background-color: #11111194;
}
header .shadow-box .center-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .shadow-box .center-container .main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .shadow-box .center-container .main-info .sub-title {
  font-size: 25px;
  margin-top: 15px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  letter-spacing: 6px;
}
header .shadow-box .center-container .main-info .name {
  display: flex;
  text-align: center;
}
@media (max-width: 600px) {
  header .shadow-box .center-container .main-info .name {
    flex-direction: column;
  }
}
header .shadow-box .center-container .main-info .name span {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 70px;
  letter-spacing: 10px;
}
@media (max-width: 756px) {
  header .shadow-box .center-container .main-info .name span {
    font-size: 50px;
  }
}
header .shadow-box .center-container .main-info #fname {
  margin-right: 30px;
}
header .shadow-box .center-container .main-info a {
  margin-top: 30px;
  text-decoration: none;
  color: #f4f4ea;
  width: 300px;
  height: 50px;
  border: 2px solid #e6f51e;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s ease;
}
header .shadow-box .center-container .main-info a:hover {
  background-color: #e6f51e;
  color: #111111;
}
.line-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}
.line-wrapper {
  height: 70px;
  width: 1px;
  align-self: center;
  overflow: hidden;
  position: absolute;
  top: -35px;
}
.line-wrapper .line {
  background-color: white;
  width: 1px;
  height: 70px;
  animation: scrollAnim 2s infinite;
}
.about {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f4f4ea;
}
.about h2 {
  font-size: 45px;
  margin-bottom: 25px;
}
.about h3 {
  font-size: 35px;
}
.about .about-content .mission-statement {
  width: 750px;
  margin-bottom: 50px;
}
@media (max-width: 850px) {
  .about .about-content .mission-statement {
    width: 100%;
  }
}
.text-content {
  color: #f4f4ea;
  font-size: 22px;
  line-height: 1.7;
}
.info-container {
  color: #f4f4ea;
  width: 100%;
  min-width: 765px;
  display: flex;
  justify-content: space-around;
}
.info-container .box {
  background-color: #292929;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-container .box h3 {
  margin-top: 25px;
  margin-bottom: 15px;
}
@media (max-width: 850px) {
  .info-container .box {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
  }
}
.info-container .skills {
  width: 100%;
}
.info-container .skills ul {
  display: flex;
  width: 94%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.info-container .skills ul li {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
.info-container .skills ul li p {
  margin-top: 10px;
  font-size: 18px;
}
@media (max-width: 850px) {
  .info-container {
    flex-direction: column;
    min-width: initial;
  }
}
.contact {
  margin-left: 25px;
  width: 550px;
}
.contact .profile-picture {
  border-radius: 100px;
  height: 150px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.contact .contact-info {
  margin-bottom: 15px;
  margin-right: 25px;
  margin-left: 25px;
}
.contact .sub-title {
  font-size: 16px;
  padding-bottom: 3px;
  margin-bottom: 2px;
  margin-top: 10px;
  color: #979797d2;
}
.contact .sub-text {
  font-size: 20px;
  margin-bottom: 25px;
}
@media (max-width: 850px) {
  .contact {
    margin-left: 0px;
  }
}
.projects {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.projects .project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  border-radius: 8px;
  background-color: #292929;
  margin: 20px 0px 20px 0px;
}
.projects .project h2 {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #f4f4ea;
  font-size: 25px;
}
.projects .project h3 {
  margin-top: 25px;
  margin-bottom: 35px;
  color: #f4f4ea;
  font-size: 19px;
}
.projects .project ul {
  margin-left: 10px;
}
.projects .project ul li {
  padding-bottom: 20px;
  color: #979797d2;
  margin-right: 50px;
}
.projects .project ul li::before {
  content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 20px;
}
.projects .project .description {
  color: #979797d2;
  font-size: 17px;
  text-align: center;
  margin: 0px 15px;
  margin-bottom: 30px;
}
.projects .project .stack {
  font-style: italic;
  color: #979797d2;
  font-size: 14px;
  margin-bottom: 10px;
}
.projects .project .button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 30px;
}
.projects .project .project-link {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 42%;
  font-size: 22px;
  color: #2ad36b;
  border: 1px solid #2ad36b;
  border-radius: 8px;
  text-decoration: none;
}
.projects .project .project-link:hover {
  background-color: #2ad36b;
  color: #111111;
}
.projects .project .repo-link {
  margin-top: 30px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 42%;
  color: #2a95d3;
  border: 1px solid #2a95d3;
  border-radius: 8px;
  text-decoration: none;
}
.projects .project .repo-link:hover {
  background-color: #2a95d3;
  color: white;
}
@media (max-width: 1227px) {
  .projects .project {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .projects .project {
    width: 100%;
  }
}
@media (max-width: 1227px) {
  .projects {
    flex-direction: column;
  }
}
#projects-title {
  color: #f4f4ea;
  font-size: 45px;
  text-align: center;
}
